<section class="arhero_section">
    <div class="arHero_inner">
        <div class="arMobOnly">
          <div class="arMobText">
              <h1 class="arHeroTitle arMobHeroTitle">{{ section.settings.title }}</h1>
              <p class="arHeroRte arMobRte">{{ section.settings.text2 }}</p>
          </div>
        </div>
        <div class="arHeroBanner">
            <img src="{{section.settings.image |  image_url: width: '2000x'}}" alt="{{section.settings.image.alt}}" width="" height="" {% if section.settings.image2 != blank %}class="arDeskOnly"{% endif %}>
            {% if section.settings.image2 != blank %}
              <img src="{{section.settings.image2 |  image_url: width: '2000x'}}" alt="{{section.settings.image.alt}}" width="" height="" class="arMobOnly">
              
            {% endif %}
            <div class="arHeroInfo">
              <div class="arHeroInfoInner">
                <div class="arHero_content">
                    <h1 class="arHeroTitle arDeskOnly">{{section.settings.title}}</h1>
                    <p class="arHeroRte arDeskOnly">{{section.settings.text}}</p>
                    <a href="{{section.settings.link}}" class="arHeroBtn">
                      <span class="arBtnTxt">{{section.settings.label}}</span>
                        <span class="arBtnArrow"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="13" viewBox="0 0 26 13" fill="none">
                        <path d="M0.999512 5.75L0.249512 5.75L0.249512 7.25L0.999512 7.25L0.999512 5.75ZM25.5298 7.03033C25.8227 6.73744 25.8227 6.26257 25.5298 5.96967L20.7569 1.1967C20.464 0.903807 19.9891 0.903807 19.6962 1.1967C19.4033 1.48959 19.4033 1.96447 19.6962 2.25736L23.9389 6.5L19.6962 10.7426C19.4033 11.0355 19.4033 11.5104 19.6962 11.8033C19.9891 12.0962 20.464 12.0962 20.7569 11.8033L25.5298 7.03033ZM0.999512 7.25L24.9995 7.25L24.9995 5.75L0.999512 5.75L0.999512 7.25Z" fill="#F5F5F5"/>
                      </svg></span>
                    </a>
                </div>
              </div>
            </div>
        </div>
        <div class="arBottomBar">
            <p class="arBtm_rte arDeskOnly">{{section.settings.btm_text}}</p>
            <p class="arBtm_rte arMobOnly">{{section.settings.btmtext2}}</p>
          
        </div>
    </div>
</section>
{% schema  %} 
{
    "name": "ar Hero",
    "disabled_on": {
    "groups": ["header", "footer"]
  },
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "image2",
            "label": "Mobile Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "The Gift Guide"
        },
        {
            "type": "inline_richtext",
            "id": "text",
            "label": "Rich Text",
            "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
        },
        {
              "type": "inline_richtext",
              "id": "text2",
              "label": "Mobile hero Rich Text",
              "default": "Discover Joy: Your Ultimate Holiday Gift Destination."
        },
        {
           "type": "url",
           "id": "link",
           "label": "Button Link" 
        },
        {
            "type": "text",
            "id": "label",
            "label": "Button Label",
            "default": "Shop Now"
        },
        {
            "type": "textarea",
            "id": "btm_text",
            "label": "Text for bottom of hero",
            "default": "SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXS TO 6XL"
        },
        {
              "type": "inline_richtext",
              "id": "btmtext2",
              "label": "Mobile Bottom Text",
              "default": "SUSTAINABLE, ETHICALLY MADE ACTIVEWEAR"
        }
    ],
    "presets": [
        {
            "name": "ar Hero",
            "category": "Hero"
        }
    ]
}

{% endschema %}